/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #ddd;
}

.Title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  position: relative;
  height: 50px; /* Set your preferred height */
}

.banner-content {
  background-image: url('../public/kiss.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-content-travel {
  background-image: url('../public/AdventureBlanketLane.jpg');
  color: #333;
}

.banner-content-travel a {
  color: #333;
}

nav {
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  margin: 10px;
}

.banner-subtext {
  padding-top: 20%;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

nav ul {
  justify-content: space-around;
}

nav li {
  flex-direction: row;
  list-style-type: none;
  padding: 12px;
}

.nav-tabs {
  padding: 3em 0;
}

.nav-tabs li {
  flex-direction: row;
  display: block;
  padding: 10px 15px;
  list-style-type: none;
  padding: 0;
  border: 2px solid #333;
  color: #000;
  background-color: #ddd;
  border-radius: 5px;
}

.nav-tabs li p {
  padding: 8px;
}

p, a {
  font-size: 120%;
}

.banner-content-travel p, .banner-content a {
  font-size: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h3 {
  color: #fff
}

nav p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-self: center;
  padding: 10px 20px;
  color: white;
  border: 2px solid #555;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  max-width: 8rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.banner-content-travel .btn {
  color: #333;
  background-color: #ddd;
}

.banner-content-travel a strong {
  background: gray;
}

.btn:hover {
  -webkit-transition: background 0.3s; /* For Safari 3.0 to 6.0 */
  transition: background 0.3s; /* For modern browsers */
  background-color: #555;
}

.banner-content-travel {
  transition: none;
}

/* FAQ Dropdown */
.faq-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.faq-dropdown {
  display: block;
}

.spotify-embed {
  padding: 2em;
  border: none;
}

.faq-dropdown a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.faq-dropdown a:hover {
  background-color: #f0f0f0;
}

/* FAQ Page */
.faq-container {
  padding: 1em;
  width: 75vw;
}

.faq-question {
  padding-top: 2.5rem;
}

.tab-content {
  padding: 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.tab-content.expanded {
  max-height: 900px;
}

.tab-expanding li {
  width: 100%;
}

/* Solves a bug with react-strict-mode and paypal buttons */
.paypal-buttons:not(:first-child) {
  visibility: hidden;
  max-height: 0;
}
