/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #ddd;
  font-size: 120%;
}

.title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  position: relative;
  height: 50px; /* Set your preferred height */
}

.banner-content {
  background-image: url('https://res.cloudinary.com/dkcd1a9ba/image/upload/v1718575642/tiny-bellingham-engagement-photographer-katheryn-moran-whatcom-falls-park-zack-lane-2024-50_yea9rw.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-content-travel {
  background-image: url('https://res.cloudinary.com/dkcd1a9ba/image/upload/AdventureBlanketLane_ltetto');
  color: #333;
}

.banner-content-travel a {
  color: #333;
}

nav {
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  margin: 10px;
}

.banner-subtext {
  padding-top: 20%;
  text-align: center;
}

ul.nav-tabs, nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li {
  flex-direction: row;
  list-style-type: none;
  padding: 12px;
}

.nav-tabs {
  padding: 3em 0;
}

.nav-tabs li {
  flex-direction: row;
  display: block;
  padding: 10px 15px;
  list-style-type: none;
  padding: 0;
  border: 2px solid #333;
  color: #000;
  background-color: #ddd;
  border-radius: 5px;
}

.nav-tabs li p {
  padding: 8px;
}

a {
  color: #333;
  text-decoration: none;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h3 {
  color: #fff
}

nav p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-self: center;
  padding: 10px 20px;
  color: white;
  border: 2px solid #555;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  max-width: 8rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.banner-content-travel .btn {
  color: #333;
  background-color: #ddd;
}

.banner-content-travel a strong {
  background: gray;
}

.btn:hover {
  -webkit-transition: background 0.3s; /* For Safari 3.0 to 6.0 */
  transition: background 0.3s; /* For modern browsers */
  background-color: #555;
}

.MuiCollapse-root {
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  padding: 0 25px;
}

.spotify-embed {
  padding: 2em;
  border: none;
}

/* Location Page */
.swiper {
  width: 90%;
  height: 25em;
}

.swiper-slide {
  background: #fff;
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  opacity: 0.05;
  height: 100%;
  transition: opacity 0.3s ease-in-out; /* Add a transition for smooth animation */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .slide-content {
    opacity: 1;
    backdrop-filter: brightness(0.7);
  }
}

.slide-content:focus-within, .slide-content:hover {
  opacity: 1;
  backdrop-filter: brightness(0.7);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  margin: 1em 2em;
}

/* FAQ Page */
.faq-container {
  padding: 1em;
  width: 75vw;
}

.faq-question {
  padding-top: 2.5rem;
}
